@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    @if (Request.IsAuthenticated)
    {
    <h1>Hola @Common.CurrentUser.Get.Name</h1>
    <p class="lead">Bienvenido!!!</p>
    }
    else
    {
    @*<h1>Sistema de Gestión de Clientes</h1>*@
    <p class="lead">Inicie Sesión para comenzar.</p>
    <p>
        <a href='@Url.Action("Login", "Account")' class="btn">Iniciar Sesión &raquo;</a>
    </p>
    }
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="width:100px; float:right; margin-bottom:10px;">
        Manual
    </button>
</div>
<div class="row" style="display:inline-flex; flex-wrap:nowrap; justify-content:center">
    @if (Request.IsAuthenticated)
    {

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel" style="color:black">Uso de la Aplicacion</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="color:black">
                    <p>
                        <h5>Funcionamiento de la aplicacion:</h5> <br />

                        <b>1) Ver listado de las Fuentes: </b> Haciendo clic en el boton Fuente <br />
                        <b>2) Crear una nueva Fuente: </b>  Haciendo clic en el boton y proporcionando una
                        cadena que servira como "generadora" y de este mensaje se calcula todos sus datos<br />
                        <b>3) Detalle de la Fuente: </b> Muestra los principales datos de la Fuente, un Histograma
                        de la frecuencia de aparicion de cada simbolo<br />
                        <b>Uso de manual: </b> En cada vista hay un boton de Manual que muestra informacion util para el 
                        uso de la aplicacion<br />
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h2>Fuentes</h2>
        <p>Gestionar Fuentes</p>
        <p><a class="btn" href='@Url.Action("Index", "Fuente")'>Fuentes &raquo;</a></p>
    </div>

    @*<div class="col-md-4">
               <h2>Usuarios</h2>
               <p>Creacion de Usuarios.</p>
               <p><a class="btn btn-default" href='@Url.Action("Register", "User")'>Crear Usuario &raquo;</a></p>
               <p>Visualización de Usuarios.</p>
               <p><a class="btn btn-default" href='@Url.Action("Index", "User")'>Visualizar Usuarios &raquo;</a></p>
        </div>*@
    }
</div>